<%- include ('partials/_header.ejs'); %>

<div class="container">
    <header class="text-center">
        <h1>Perfil del usuario</h1>
        <h5>Bienvenido a tu perfil</h5>
    </header>
    <hr>
    <div class="container">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><span class="fas fa-user-cog"></span> &nbsp; <%= user.name %></h3>
                    <p>
                        <strong>id</strong>: <%= user._id%> <br> 
                        <strong>correo</strong>: <%= user.email %><br> 
                        <strong>contraseña</strong>: ******** <%#= user.password #%> <br> 
                    </p>
                    <a href="/logout" class="btn btn-light btn-sm">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include ('partials/_footer.ejs'); %>